<div class="footer">
  <p>Best regards,<br />Your Company</p>
  <p>1234 Street Address, City, State, ZIP</p>
  <p>
    <a href="https://b2msdk.com">Visit our website</a>
    |
    <a href="https://b2msdk.com/unsubscribe">Unsubscribe</a>
  </p>
</div>