<html>
  <head>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f7f7f7; } .container { max-width: 600px; margin: 0
      auto; padding: 20px; background-color: #ffffff; border: 1px solid #dddddd;
      } .header { background-color: #40ebf4; color: white; padding: 10px;
      text-align: center; } .content { margin: 20px 0; }
      .content-name{font-weight: bold;} .footer { text-align: center; color:
      #888888; font-size: 12px; margin-top: 20px; border-top: 1px solid #dddddd;
      padding-top: 10px; } .button { display: inline-block; padding: 10px 20px;
      margin: 20px 0; font-size: 16px; color: white; background-color: #40ebf4;
      text-align: center; text-decoration: none; border-radius: 5px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome to Ticket Pass</h1>
        <p>Your Event Ticket Partner</p>
      </div>
      <div class="content">
        <p>Hello <span class="content-name">{{fullname}}</span>,</p>
        <p>Welcome to
          <span class="content-name">Ticket-Pass!</span>
          We are excited to have you with us.</p>
        <a href="#" class="button">Check Out Events</a>
      </div>
      {{!-- {{> footer }} --}}
      <div class="footer">
        <p>Best regards,<br />Ticket Pass</p>
        <p>1234 Street Address, City, State, ZIP</p>
        <p>
          <a href="https://b2msdk.com">Visit our website</a>
          |
          <a href="https://b2msdk.com/unsubscribe">Unsubscribe</a>
        </p>
      </div>
    </div>
  </body>
</html>